.navbar-fixed-top {
    border-bottom: 2px solid #DCECCC;
    /*height: 5em;*/
    background-color: #fff;
    padding: .75em 10% .75em 10%;

}

.navbar-toggle {
  background-color: #DCECCC;
}

.navbar .navbar-toggle .icon-bar {
    background-color: azure;
}

#nav-bar img {
    max-height: 4.5em;
    display: inline-block;
    float: left;
}

#nav-bar > * {
    font-family: 'Roboto Condensed', sans-serif;
}

#nav-item {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 1.5em;
    font-size: 1.2em;
    color: #000000;
}
