{% extends "layout.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='libs/font-awesome4/css/font-awesome.min.css') }}">


  <div class="page-header">
    <h1>GAM Payments Sandbox</h1>
    <p>These transactions are not real! But they can be used to test as well as experiment with the backend.</p>
  </div>
  <p>https://sandbox.braintreegateway.com/</p>


{% block css %}{% endblock %}
{% include 'payments/header.html' %}
{% include 'payments/checkouts/donate_form.html' %}
