
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='payments/css/app.css') }}">
  <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='payments/css/overrides.css') }}">-->
  <script src="{{ url_for('static', filename='payments/javascript/vendor/jquery-2.1.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='payments/javascript/vendor/jquery.lettering-0.6.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='payments/javascript/demo.js') }}"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>

</head>
