<!DOCTYPE html>
<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/overrides.css') }}">
  <script src="{{ url_for('static', filename='javascript/vendor/jquery-2.1.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/vendor/jquery.lettering-0.6.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/demo.js') }}"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
      <title>Green Again | Donate</title>
</head>
<body>
  <header class="main">
    <div class="container wide">

      <div class="content slim">
          <link rel='stylesheet' type='text/css' href='./navbar/navbar.css'>
      <div id='nav-bar'>
          <a href='./index.html'><img src='./icon_src/ga_logo.png' /></a>
          <div id='nav-container'>
              <a href='./work.html'><div class='nav-item vertical-center'>Our Work</div></a>
              <a href='./about.html'><div class='nav-item vertical-center'>About</div></a>
              <a href='./donate.html'><div class='nav-item vertical-center'>Support Our Work</div></a>
              <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=SJQDUHJ9MWVRS&lc=US&item_name=Green%20Again%20Madagascar&item_number=Ivoloina%20Park%20Project&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted' target="_blank"><div class='button vertical-center' style='margin-left: 1.5em'>DONATE</div></a>
          </div>
      </div>
    </div>

    <div class="notice-wrapper">
      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <div class="show notice error notice-error">
            <span class="notice-message">{{ message }}</span>
          </div>
        {% endfor %}
      {% endwith %}
    </div>
  </header>


  {% block content %}{% endblock %}
</body>
</html>
