{% extends "layout.html" %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/overrides.css') }}">
  <script src="{{ url_for('static', filename='javascript/vendor/jquery-2.1.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/vendor/jquery.lettering-0.6.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/demo.js') }}"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>

    <div class="notice-wrapper">
      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <div class="show notice error notice-error">
            <span class="notice-message">{{ message }}</span>
          </div>
        {% endfor %}
      {% endwith %}
    </div>

  {% block content %}{% endblock %}
