
{% extends "layout.html" %}

{% block content %}
<div class="page-header">
    <h1>About Us</h1>
</div>
<div class="body-content">
    <div class="row">
    <p class="lead">
        In November 2013, a man's charcoal fire burned out of control, starting a massive forest fire on the Eastern coast of Madagascar. The fire ravaged the man's land as well as over 20 acres of nearby rain forest of Parc Ivoloina, one of the most widely visited forest reserves in Africa.
    </p>
    <p>
        Green Again formed in response to this tragedy.
    </p>
    <p>
        With support from park management and academic advisers at the University of Tamatave, Green Again is working to restore the burned areas in Parc Ivoloina by 2019.
        Green Again is committed to a sustainable approach to ecological restoration that develops ongoing support and involvement
    </p>
    </div>
</div>
{% endblock %}
