
{% extends "layout.html" %}

{% block content %}
{% include "nav.html" %}
<header style="background-image: url({{ url_for('static', filename='img/home_cover.jpg') }})">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Green Again: Madagascar</div>
            <div class="intro-lead-in">Restoring Forest Habitats</div>
            <a href="#contact" class="page-scroll btn btn-xl">Contact</a>
            <a href="#donate" class="page-scroll btn btn-xl">Join Us</a>
        </div>
    </div>
</header>

{% if error %}
  <p class=error><strong>Error:</strong> {{ error }}
{% endif %}

<!-- Services Section -->
<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why Madagascar?</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                <h4 class="why-heading"><p class='stat-number'><span class='count'>3</span>%</p></h4>
                </span>
                <p class="text-muted">of the world’s entire biodiversity is found only in Madagascar</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <h4 class="why-heading"><p class='stat-number'><span class='count'>87</span>%</p></h4>
                </span>
                <p class="text-muted">of Madagascar's rainforest have been lost in the last 100 years</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <h4 class="why-heading"><p class='stat-number'><span class='count'>11</span>%</p></h4>
                </span>
                <p class="text-muted">of the original rainforests are all that currently remain.</p>
            </div>
        </div>
    </div>
</section>
    <section id="mission" class="bg-light-green">
{% include "./public/mission.html" %}
    </section>
    <section id="impact" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Impact</h2>
                </div>
              </div>
                <div class="row text-center">
                        <div class="col-md-4">
                        <div class='stat-triptych triptych'>
                            <p class='stat-number'><span class='count'>12637</span></p>
                        </div>
                            <p class='text-muted'>trees planted in restoration areas</p>
                        </div>
                        <div class="col-md-4">
                        <div class='stat-triptych triptych'>
                            <p class='stat-number'><span class='count'>3103</span></p>
                        </div>
                            <p class='text-muted'>one-year-old seedlings growing</p>
                    </div>
                        <div class="col-md-4">
                        <div class='stat-triptych triptych'>
                            <p class='stat-number'><span class='count'>4536</span></p>
                        </div>
                            <p class='text-muted'>wild-nursery trees ready for planting</p>
                        </div>

                    <!-- <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                        <h4 class="why-heading"><p class='stat-number'><span class='count'>12,637</span></p></h4>
                        </span>
                        <p class="text-muted">trees planted in restoration areas.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <h4 class="why-heading"><p class='stat-number'><span class='count'>3,103</span></p></h4>
                        </span>
                        <p class="text-muted">one-year-old seedlings growing.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <h4 class="why-heading"><p class='stat-number'><span class='count'>4,536</span></p></h4>
                        </span>
                        <p class="text-muted">wild-nursery trees ready for planting.</p>
                    </div> -->
                  </div>
                </div>
            </div>
        </div>
    </section>
<!-- <section id="learn-more">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Learn More</h2>
          </div>
        </div>
      </div>
</section> -->
<!-- <section id="help">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Get Involved</h2>
          </div>
        </div>
      </div>
</section> -->

<!-- Portfolio Grid Section -->
<!-- <section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Round Icons</h4>
                    <p class="text-muted">Graphic Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Startup Framework</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Treehouse</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Golden</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Escape</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Dreams</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- About Section -->
<section id="about">
    {% include "./public/about.html" %}
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    {% include "./public/team.html" %}
</section>


<!-- Contact Section -->
<section id="contact" style="background-image: url({{ url_for('static', filename='img/img_src/archive/static6 copy.jpg') }})">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name" name="name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" name="_replyto" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Phone" name="phone" id="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message" name="message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button id="send-button" type="button" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="donate">
    <div class="container">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Become A Member</h2>
        <h3 class="section-subheading text-muted text-left">Membership is your connection to rainforest restoration.<br><br>

By becoming an member of Green Again, you can join our efforts to restore a self-sustaining rainforest ecosystems with the original species of floral and fauna.<br><br>  
Membership subscriptions are fully refundable upon request within ten days of purchase.  You can cancel your membership at any time.</h3>
    </div>
    {% include "./payments/checkouts/donate_form.html" %}

</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/flexio-sdk-js@latest"></script>
<script>
$(document).ready(function() {
    var messages = "{{ get_flashed_messages() }}";

    if (messages == '[&#39;success&#39;]') {
      BootstrapDialog.show({
          title: 'Confirmation',
          type: BootstrapDialog.TYPE_SUCCESS,
          message: 'Your information has been received. Thank you for your membership!',
          buttons: [{
              id: 'btn-ok',
              icon: 'glyphicon glyphicon-check',
              label: 'OK',
              cssClass: 'btn-primary',
              data: {
                  js: 'btn-confirm',
                  'user-id': '3'
              },
              autospin: false,
              action: function(dialogRef){
                  dialogRef.close();
              }
          }]
      });
    } else if (messages != '[]' ) {
        BootstrapDialog.show({
            type: BootstrapDialog.TYPE_WARNING,
            message: messages,
            buttons: [{
                id: 'btn-ok',
                icon: 'glyphicon glyphicon-check',
                label: 'OK',
                cssClass: 'btn-primary',
                data: {
                    js: 'btn-confirm',
                    'user-id': '3'
                },
                autospin: false,
                action: function(dialogRef){
                    dialogRef.close();
                }
            }]
        });


    };

    document.getElementById('send-button').onclick = function(evt) {
    var form = document.getElementById('contactForm')
    var formdata = new FormData(form)

    Flexio.setup("xdttbqddtxbqznvktstv")
    Flexio.pipe("greenagain-contact-form").run({data: formdata})

    alert("Thanks for your message. We'll be in touch with you soon.")
//    form.style = "display:none"
//    document.getElementById('thank-you').innerHTML = "<b>Your message was sent. Thank you for writing!</b>"
}

});
</script>

{% endblock %}
