<table class="work-section">
        <tr>
            <td class='work-icon-wrapper'><img src='static/img/img_src/static2.jpg'/></td>
            <td class="work-icon-wrapper"><img src='static/img/img_src/static7.jpg'> </td>
            <td class='work-icon-wrapper'><img src='static/img/img_src/learn_more_project.jpg'/></td>
            <td class="work-padding-wrapper"></td>

        </tr>
        <tr>
        <td class='section-title title-size'>Restore</td>
        <td class='section-title title-size'>Educate</td>
        <td class='section-title title-size'>Empower</td>
        </tr>
    </table>
</div>

<div class='green-back section-container' id='current-project'>
    <div class='section-title title-size'>Restoration</div>
    <table class="work-section">
        <tr>

            <td class="work-text-wrapper">
                <div class="work-text">
                    <p>Our objective is to restore the rainforest canopy to this area within ten years. To date, we’ve planted 38 pioneer species and the trees are growing fast. There’s already a slight canopy forming and several exotic species such as the eucalyptus, acacia, and guava are thriving.</p>
                </div>
            </td>
            <td class="work-padding-wrapper"></td>
        </tr>
    </table>
        <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=SJQDUHJ9MWVRS&lc=US&item_name=Green%20Again%20Madagascar&item_number=Ivoloina%20Park%20Project&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted' target="_blank"><div class='button vertical-center'>DONATE</div></a>
</div>

<div class='section-container'>
    <div class='section-title title-size'>Education</div>
    <table class='work-section'>
        <tr>
            <td class='work-padding-wrapper'></td>
            <td class='work-text-wrapper'>
                <div class='work-text'>
                    <p>Encourage cultural understanding through a real world demonstration of how to live sustainably</p>
                    <p>Another core part of our work is to collect scientific observations on the growth patterns of the tree species involved in the restoration. Our team collects and enters data rigorously in order to continually improve results. Using our data, we’ve tested 5 planting frameworks, 4 germination experiments, and several planting treatments.</p>
                </div>
            </td>
        </tr>
    </table>
