{% extends "layout.html" %}
{% block content %}
<div class="navbar-header page-scroll">
    <a class="navbar-left" href="/"><img src='{{ url_for('static', filename="img/icon_src/ga_logo.png") }}' alt="Green Again" width="250px" height="60px"></a>

</div>

<!-- Services Section -->
<section id="terms">
    <div class="container">

            <div class="col-lg-12 text-center">
                <h2 class="section-heading pull-left">Privacy Policy</h2>

            </div>

        <div class="text-left">
Privacy Policy here
        </div>
        <div>
        <a class="btn btn-primary" href="/" role="button">Back to Home</a>
      </div>
    </div>
</section>


{% endblock %}
