{% extends "layout.html" %}
{% block content %}
<div class="navbar-header page-scroll">
    <a class="navbar-left" href="/"><img src='{{ url_for('static', filename="img/icon_src/ga_logo.png") }}' alt="Green Again" width="250px" height="60px"></a>

</div>

<!-- Services Section -->
<section id="privacy">
    <div class="container">

            <div class="col-lg-12 text-center">                
                <h2 class="section-heading text-center">Privacy Policy</h2><br><br>

            </div>

        <div class="text-left">
            <p>Welcome to a website of Green Again Restoration ("Green Again")("the Site").</p>
            
            <p>By accessing and using the Site, you agree to be bound by these terms and conditions of use ("Terms of Use") and the associated Privacy Policy for the Site. From time to time, Green Again may modify these Terms of Use, so please review it periodically for changes. Your continued use of the Site after we have modified the Terms of Use indicates your agreement to the modified terms.</p><br>
            
            <h4>PRIVACY</h4>
            <p>Green Again respects the privacy of its users and encourages you to read its Privacy Policy so that you may make an informed decision about using the Site.</p><br>
            
            <h4>COPYRIGHT NOTICE</h4>
            <p>Copyright 2018. Green Again Restoration. All rights reserved.</p><br>            

        </div>
        <div>
        <a class="btn btn-primary" href="/" role="button">Back to Home</a>
      </div>
    </div>
</section>


{% endblock %}
