{% extends "layout.html" %}
{% block content %}
<div class="navbar-header page-scroll">
    <a class="navbar-left" href="/"><img src='{{ url_for('static', filename="img/icon_src/ga_logo.png") }}' alt="Green Again" width="250px" height="60px"></a>

</div>

<!-- Services Section -->
<section id="privacy">
    <div class="container">

            <div class="col-lg-12 text-center">                
                <h2 class="section-heading text-center">Privacy Policy</h2><br><br>

            </div>

        <div class="text-left">
            <p>The primary purpose of the website of Green Again Restoration ("Green Again") is to provide information about Green Again and its areas of expertise and operation, not to gather personal information. We do, however, gather some information through the site, as described below. The information we collect is used to provide membership services and communicate with our members.</p><br>

            <h4>INFORMATION GATHERED</h4>
            <p>For each visitor to our website, our web server automatically recognizes the visitor's IP address. We collect the domain name of visitors for data reports only. Names provided by visitors to Green Again via the membership subscription form and/or contact form on the website will receive periodic communications, and they have the option to opt out of the service at any time via the “unsubscribe” link provided in the emails.</p><br>
            
            <h4>MEMBERSHIP SUBSCRIPTIONS</h4>
            <p>We request information from you on our membership subscription form.  To purchase a membership subscription to Green Again, you must provide contact information (like name and email address) and financial information (like credit card number, expiration date). This information is used for billing purposes and to fill your order(s). If we have trouble processing an order, we'll use this information to contact you.</p><br>
            
            <h4>CONTACT FORM</h4>
            <p>Some personal information (such as name and email address) is required in order to send a message to Green Again via the contact form on the site.  This information is used to respond to your message and/or contact you about membership services, news and updates about Green Again, and/or other products/services on our site about which you have expressed interest.</p><br>
            
            <h4>USE OF INFORMATION</h4>
            <p>If you supply us with your postal address and/or email address online, you may receive periodic mailings from us with information and news about Green Again. If you do not wish to receive such mailings, please let us know by emailing <a href="mailto:greenagainmadagascar@gmail.com">greenagainmadagascar@gmail.com</a>. We do not partner with nor have special relationships with any ad server companies.</p><br>
            
            <h4>CHANGES TO USE OF INFORMATION</h4>
            <p>From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our privacy notice. If our information practices change at some time in the future we will contact you before we use your data for these new purposes to notify you of the policy change and to provide you with the ability to opt out of these new uses.<br><br>
            Members may prevent their information from being used for purposes other than those for which it was originally collected by emailing <a href="mailto:greenagainmadagascar@gmail.com">greenagainmadagascar@gmail.com</a>.</p><br>
            
            <h4>CHILDREN’S PRIVACY</h4>
            <p>The website is not designed or intended to attract children and Green Again does not knowingly collect any personally identifiable information from children under thirteen (13) years of age unless the collection complies with the Children’s Online Privacy Protection Act (“COPPA”).  If you are under thirteen (13) years of age, do not send any information about yourself to Green Again. If Green Again discovers that a child under the age of 13 has provided Green Again with personally identifiable information, we will use commercially reasonable efforts to delete that child’s personally identifiable information from our system.</p><br>
            
            <h4>LINKS TO OTHER WEBSITES</h4>
            <p>You may leave the Green Again website by clicking on certain links on the site. Many of these links take you to websites and online content that are not operated by Green Again and are beyond Green Again’s control.  If you click on these links, you will be taken to a third-party website. Green Again has no control over and is not responsible for the content of any third-party sites to which you link. In addition, these other websites have their own privacy policies and practices that may differ from Green Again’s, and we encourage you to review the privacy policies of any other website you visit.</p><br>
            
            <h4>SECURITY</h4>
            <p>The security of your information is important to us. Green Again takes commercially reasonable steps to secure its systems and to secure your personally identifiable information on our systems, including limiting access to the personally identifiable information contained on our servers and using the Secure Sockets Layer (SSL) protocol when processing credit card information. Unfortunately, no method of electronic transmission or storage is 100% secure. Therefore, Green Again makes no warrant regarding the security of any information you transmit to Green Again and you do so at your own risk.</p><br>
            
            <h4>EXCLUSIONS</h4>
            <p>This Privacy Policy does not apply to any personal information or data collected by Green Again other than that collected through the Green Again website. This Privacy Policy shall not apply to any unsolicited information you provide to Green Again through the website or through any other means. This includes, but is not limited to, information posted to any public areas of the website, such as a contact form or membership subscription form, any ideas for new products or modifications to existing products, and other unsolicited submissions (collectively, “Unsolicited Information”). All Unsolicited Information shall be deemed to be non-confidential and Green Again shall be free to reproduce, use, disclose, and distribute such Unsolicited Information to others without limitation or attribution.</p><br><br><br>
                    
        </div>
        <div>
        <a class="btn btn-primary" href="/" role="button">Back to Home</a>
      </div>
    </div>
</section>


{% endblock %}
