{% block content %}

<div class="wrapper">

  <div class="checkout container">
        <form id="payment-form" method="post" action="/payments/checkouts">
    <div class="form-group">
        <label for="first-name">
            First Name
        </label>
            <input id="first-name" name="first_name" type="text" class="form-control">
</div>
  <div class="form-group">
        <label for="last-name">
            Last Name
                </label>
            <input id="last-name" name="last_name" type="text" class="form-control">
          </div>
  <div class="form-group">
        <label for="email">
            Email Address
        </label>
            <input id="email" name="email" type="email" placeholder="ilovetrees@gmail.com" class="form-control">
</div>
              <h5 class="section-subheading text-muted">Payment Options </h5>
            <div class="form-group">
          <label for="amount">Amount</label>
              <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="10" class="form-control">
            </div>
  <div class="form-group">
                    <div class="checkbox">
          <!-- <label for="recurring" style="font-weight:bold">
            Make this a regular monthly contribution:
                      </label> -->
              <!-- <input id="recurring" name="recurring" type="checkbox" value="Make this a regular monthly contribution" class="form-check-input"> -->

                  <label style="font-size: 2em">
                      <label for="recurring" style="font-size:.55em;font-weight:bold;">
                        Make this a regular monthly payment.
                                  </label>
                      <input id="recurring" name="recurring" type="checkbox" value="Make this a regular monthly contribution" class="form-check-input">
                      <span class="cr "><i class="cr-icon fa fa-check"></i></span>
                  </label>
              </div>
            </div>
        <div class="bt-drop-in-wrapper">
          <div id="bt-dropin"></div>
        </div>

        <div class="col-lg-12 text-left">
            <div id="success"></div>
            <button type="submit" class="btn btn-xl">Submit</button>
        </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>

  </div>
  </div>
</div>



{% endblock %}
