{% block content %}

<div class="wrapper">

  <div class="checkout container">
    <form id="payment-form" method="post" action="/payments/checkouts">
        <label for="first-name">
            First Name
          <span class="input-label">First name<br></span>
          <div class="input-wrapper">
            <input id="first-name" name="first_name" type="text" >
          </div>
        </label>
        <label for="last-name">
            Last Name
          <span class="input-label">Last Name:</span>
          <div class="input-wrapper">
            <input id="last-name" name="last_name" type="text" >
          </div>
        </label>
        <label for="email">
            Email Address
          <span class="input-label">Email:</span>
          <div class="input-wrapper">
            <input id="email" name="email" type="email" placeholder="ilovetrees@gmail.com" >
          </div>
        </label>

      <section>
          <p style="top: 60%">
              <span class="headline-size">Payment Options</span>
          </p>
          <label for="amount">
            <span class="input-label">Amount</span>
            <div class="input-wrapper amount-wrapper">
              <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="10">
            </div>
          </label>
          <label for="recurring">
            Make this a regular monthly contribution:
            <span class="input-label">recurring</span>
            <div class="input-wrapper">
              <input id="recurring" name="recurring" type="checkbox" value="Make this a regular monthly contribution" >
            </div>
          </label>
        <div class="bt-drop-in-wrapper">
          <div id="bt-dropin"></div>
        </div>
        </section>

      <button class="button" type="submit"><span>Test Transaction</span></button>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>

  </div>
</div>



{% endblock %}
