<footer class='container-fluid bg-4 footer_bar'>

        <div class="row">
          <div class="col-sm-4 footer_section triptych" id ='follow'>
              <!-- <div class='footer_section triptych' id='follow'> -->
                  <p class='footer_title'>FOLLOW US</p>
                  <a href='https://www.facebook.com/GreenAgainMadagascar' target="_blank"><img src='{{ url_for('static', filename="public/icon_src/fb_logo.png") }}' class="img-responsive"/></a>
                  <img src='{{ url_for('static', filename="public/icon_src/twitter_logo.png") }}' class="img-responsive"/>
                  <img src='{{ url_for('static', filename="public/icon_src/instg_logo.png") }}' class="img-responsive"/>
              </div>
          <!-- </div> -->
          <div class="col-sm-4 footer_section triptych" id='legal'>
              <!-- <div class='footer_section triptych' id='legal'> -->
                  <p class='footer_title'>LEARN MORE</p>
                  <a class='white' href='/work'><p>Our Work</p></a>
                  <a class='white' href='/about'><p>About</p></a>
                  <a class='white' href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=SJQDUHJ9MWVRS&lc=US&item_name=Green%20Again%20Madagascar&item_number=Ivoloina%20Park%20Project&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted' target="_blank"><p>Donate</p></a>
              </div>
          <!-- </div> -->
          <div class="col-sm-4 footer_section triptych" id='contact'>
              <!-- <div class='footer_section triptych' id='contact'> -->
                  <p class='footer_title'>CONTACT US</p>
                  <p>Green Again Madagascar<br>155 Post Office Box, 512 Maroantsetra<br>Analanjirofo, Madagascar</p>
                  <p>(+011) 261-34-25-266-05</p>
                  <p>greenagainmadagascar [at] gmail [dot] com</p>
              </div>
          </div>
        <!-- </div> -->

        <div id='footer_split_line' class='row'></div>
        <div class='row'>
        <p class='footer_section'>Copyright &copy; 2017 Green Again</p>
    </div>

</footer>
