<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="#page" title="To Top"  class="page-scroll">
            <span ><i class="fa fa-chevron-up" aria-hidden="true" style="font-size:2em"></i></span>
            </a>
        </div>
    </div>
</div>
    <footer style="background-image: url({{ url_for('static', filename='img/home_cover.jpg') }})">

        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li> -->
                        <li><a href="https://www.facebook.com/GreenAgainMadagascar"><i class="fa fa-facebook"></i></a>
                        <!-- </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li> -->
                    </ul>
                </div>
                <!-- <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div> -->
                <!-- <div class="col-sm-4" id='legal'>
                    <!-- <div class='footer_section triptych' id='legal'> -->
                        <!-- <p class='section-heading' style="color:white">LEARN MORE</p>
                        <a class='section-subheading' style="color:white" href='/work'><p>Our Work</p></a>
                        <a class='section-subheading' style="color:white" href='/about'><p>About</p></a>
                        <a class='section-subheading' style="color:white" href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=SJQDUHJ9MWVRS&lc=US&item_name=Green%20Again%20Madagascar&item_number=Ivoloina%20Park%20Project&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted' target="_blank"><p>Donate</p></a>
                    </div> -->
                <!-- </div> -->
                <div class="col-sm-4" id='address'>
                    <!-- <div class='footer_section triptych' id='contact'> -->
                        <!-- <div class="section-heading" style="color:white">CONTACT US</div> -->
                        <p class="text-muted" style="color:white"> Green Again Madagascar<br>155 Post Office Box, 512 Maroantsetra<br>Analanjirofo, Madagascar
                            <br>(+011) 261-34-25-266-05 </p>
                    </div>

            <!-- </div> -->
            <!-- <div class="row"> -->
                                                        <!-- <div id='footer_split_line' class='row'></div> -->
                <span class='copyright' style="color:white">Copyright &copy; 2018 Green Again</span>
            <!-- </div> -->
        </div>
        </div>
    </footer>
